/* === Variables === */

$white                  : white;
$black                  : black;
$skyBlue                : #4DCBFF;
$transparent            : transparent;
$zero                   : 0;
$ten                    : 10px;
$background             : #171819;
